/* Chat LIGHT theme */
#frame {
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif !important;
    width: 100%;
    min-width: 360px;
    height: 93vh;
    background: #fff;
}

@media screen and (max-width: 735px) {
    #frame {
        height: 85vh;
        height: calc(var(--vh, 1vh) * 85);
    }
}

#frame #sidepanel {
    float: left;
    min-width: 280px;
    max-width: 340px;
    width: 40%;
    height: 93vh;
    background: #fff;
    color: black;
    overflow: hidden;
    position: relative;
}

#frame img.emoji {
    width: 22px !important;
    height: 22px !important;
    display: inline-block !important;
    background-size: contain !important;
    float: unset !important;
    margin-left: 3px;
    margin-top: -1px;
}

.prchat_controller #wrapper {
    height: 93vh;
    min-height: unset !important;
}

#frame #sidepanel #profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    border-bottom: 1px solid #d8d7d7;
}

#frame #sidepanel #profile .wrap {
    padding: 7px 0px 0px 21px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
}

#frame #sidepanel #profile .wrap img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #2ecc71;
    float: left;
    -moz-transition: 0.3s border ease;
    -o-transition: 0.3s border ease;
    -webkit-transition: 0.3s border ease;
    transition: 0.3s border ease;
}

#frame #sidepanel #profile .wrap p {
    float: left;
    margin-left: 9px;
    margin-top: -8px;
    font-size: 14px;
}

#frame #sidepanel #search {
    font-weight: 300;
    padding: 10px;
    background: #ffffff;
}

#frame #sidepanel #search label {
    position: absolute;
    margin: 6px 0 0 20px;
    color: #929292;
}

#frame #sidepanel #search input {
    background-color: #e3e8ee;
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    font-size: 16px;
    height: 30px;
    width: 100%;
    line-height: 30px;
    padding: 0px 0 0px 46px;
}

#frame #sidepanel #search input:focus {
    outline: none;
    background: #f2f2f2;
}

#frame #sidepanel #search input::-webkit-input-placeholder {
    color: #a09696;
}

#frame #sidepanel #search input::-moz-placeholder {
    color: #a09696;
}

#frame #sidepanel #search input:-ms-input-placeholder {
    color: #a09696;
}

#frame #sidepanel #search input:-moz-placeholder {
    color: #a09696;
}

#frame #profile .dropdown {
    position: relative;
    float: right;
    margin-top: 2px;
    margin-right: 13px;
}

#frame .dropbtn {
    color: #000 !important;
    padding: 1px;
    border: none;
    cursor: pointer;
}

#frame .dropbtn:hover {
    transition: color 500ms;
    color: #000 !important;
}

#frame .dropdown {
    position: relative;
    display: inline-block;
}

#frame .dropdown-content {
    display: none;
    width: -webkit-max-content;
    width: max-content;
    position: absolute;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.38);
    background: #e3e8ee;
    top: -53px;
    left: -64px;
    border-radius: 4px;
    line-height: 24px;
}

#frame .dropdown-content a:hover {
    color: #38393a !important;
    border-radius: 4px;
    transition: color 500ms;
    padding: 5px 1px 5px 31px;
}

#frame .dropdown-content a#light {
    padding: 5px 5px 5px 31px;
}

#frame .dropdown-content a#dark {
    padding: 5px 31px 5px 31px
}

#frame .dropdown-content a {
    float: left;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #000 !important;
    z-index: 99999999999;
    padding: 5px 1px 5px 31px;
}

#shared_user_files {
    color: #008ece;
}

#shared_user_files:hover {
    color: #004b6d;
}

#frame #sidepanel #contacts {
    height: calc(100% - 143px);
    /* overflow-y: scroll; */
    overflow-x: hidden;
    scrollbar-width: none
}

#frame #sidepanel #contacts a {
    color: #000;
    display: block;
}

#frame #sidepanel #contacts .contact .emoji {
    width: 18px !important;
    height: 18px !important;
}

#frame .messages .userIsTyping {
    display: none;
    position: sticky;
    padding-bottom: 6px;
    top: 100%;
    left: 0;
    clear: both;
}

#frame .messages .userIsTyping img {
    width: 35px;
}

#frame #sidepanel #contacts::-webkit-scrollbar {
    width: 8px;
}

#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

#frame #sidepanel #contacts ul li.contact {
    position: relative;
    font-size: 0.9em;
    cursor: pointer;
}

#frame #sidepanel #contacts ul li.contact a {
    padding: 15px 0 15px 0;
}

#frame #sidepanel #contacts ul li.contact:hover {
    background: #e3e8ee;
    transition: background 500ms;
}

#frame #sidepanel #contacts ul li.contact.active span.offline,
#frame #sidepanel #contacts ul li.contact.active span.online {
    border: 2px solid #e3e8ee !important;
}

#frame #sidepanel #contacts ul li.contact.active span.contact-status {
    border: 2px solid #32465a !important;
}

#frame #sidepanel #contacts ul li.contact.active {
    background: #e3e8ee;
}

#frame #sidepanel #contacts ul li.contact .wrap {
    width: 88%;
    margin: 0 auto;
    position: relative;
}

#frame #sidepanel #contacts ul li.contact .wrap span {
    position: absolute;
    z-index: 1;
    left: 29px;
    top: 27px;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    background: #636363;
}

#frame #sidepanel #contacts ul li.contact .wrap span.online {
    background: #2ecc71;
}

#frame #sidepanel #contacts ul li.contact .wrap img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.prchat_controller .tooltipster-base.tooltipster-sidetip.tooltipster-left.tooltipster-fade.tooltipster-show {
    height: 31px !important;
}

.prchat_controller .tooltipster-sidetip .tooltipster-box {
    background: rgba(204, 204, 204, 0.88) !important;
    border: none !important;
    border-radius: 0px !important;
}

.prchat_controller .tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
    border-left-color: rgba(204, 204, 204, 0.88) !important;
}

.prchat_controller .tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
    border-left-color: rgba(204, 204, 204, 0.88) !important;
    left: 0px !important;
    top: 0 !important;
}

.prchat_controller .tooltipster-sidetip.tooltipster-left .tooltipster-arrow {
    right: -2px;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
    font-weight: 400;
    margin: 0 0 2px;
    font-size: 14px;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta p.pull-right {
    font-size: 12px;
    margin-top: -40px;
    margin-right: -12px;
}

#frame .connection_field {
    display: none;
    background: #f03d25;
    text-align: center;
    height: 44px;
    color: #fff;
    padding-top: 11px;
}

#frame .blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#frame .connection_field .connection_field_notice {
    font-size: 14px;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
    color: rgb(95, 95, 95);
    font-size: 13px;
    margin: 3px 0 0px 0;
    padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
    position: initial;
    border-radius: initial;
    background: none;
    border: none;
    padding: 0 2px 0 0;
    margin: 0 0 0 1px;
    opacity: .5;
}

#frame .content {
    /* float: right; */
    /* width: 60%; */
    border-left: 1px solid #d8d7d7;
    padding: 0px 0px 25px 0px;
    height: 93vh;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width: 900px) {
    #frame .content {
        /* width: calc(100% - 340px); */
    }
}

#frame .content .contact-profile {
    width: 100%;
    height: 60px;
    background: #ffffff;
    border-bottom: 1px solid #d8d7d7;
}

#frame .contact_role {
    color: #09f;
    font-size: 12px;
}

#frame .content .contact-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    margin: 15px 12px 0 9px;
}

#frame .content .contact-profile p {
    float: left;
    font-size: 14px;
    padding-top: 16px;
    line-height: 14px;
}

.prchat_controller .prchat_message_delete {
    cursor: pointer;
    color: #000;
}

#frame .content .contact-profile .social-media {
    float: right;
    font-size: 19px;
    margin-top: 15px;
}

#frame .content .contact-profile .social-media i {
    margin-left: 14px;
    cursor: pointer;
}

#frame .content .contact-profile .social-media i:hover {
    color: #007ff9;
    transition: color 500ms;
}

#frame .content .messages {
    position: relative;
    margin: 3px 1px 0px 10px;
    min-height: calc(100% - 85px);
    max-height: calc(100% - 85px);
    overflow-y: scroll;
    overflow-x: hidden;
}

/* #frame .content .messages::-webkit-scrollbar {
    width: 8px !important;
    background: transparent;
}
*/
#frame .content .messages::-webkit-scrollbar {
    width: 8px !important;
    background: transparent;
}

#frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

#frame .content .messages::scrollbarthumb-horizontal {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

#frame .content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 6px 15px;
    width: 98%;
    width: calc(100% - 25px);
    font-size: 15px;
}

#frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
}

#frame .content .messages ul li.replies img.emoji {
    margin: 0px 8px 0 0;
}

#frame .content .messages ul li.replies p {
    background: #d8d8d8;
    border-top-left-radius: 2px;
    display: inline-block;
    width: auto !important;
    max-width: 45%;
    word-break: break-word;
}

#frame .content .messages ul li.sent .you a {
    color: #fff;
}

#frame .content .messages ul li.sent img:not(.emoji) {
    float: right;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #frame .content .messages ul li.replies p {
        max-width: 86%;
    }

    #frame .content .messages ul li.sent p {
        max-width: 86% !important;
    }
}

#frame .content .messages ul li.sent p {
    background: #0099ff;
    color: #fff;
    float: right;
    border-top-right-radius: 2px;
    display: inline-block;
    width: auto !important;
    word-break: break-word;
    max-width: 45%;
}

#frame .content .messages ul li img.prchat_convertedImage {
    border-radius: 0%;
    max-width: 35vh;
    max-height: 25vh;
    width: -webkit-fill-available;
    width: auto;
}

#frame .content .messages ul li img  {
    border-radius: 50%;
    width: 27px;
    float: left;
}

#frame .content .messages ul li img.prchat_convertedImage {
    border-radius: 0%;
}

#frame .content .messages ul li p.friend {
    margin-top: 3px;
    margin-left: 7px;
}

#frame .content .messages ul li p.you {
    margin-top: 3px;
    margin-right: 2px;
}

#frame .content .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
}

@media screen and (min-width: 735px) {
    #frame .content .messages ul li p {
        max-width: 100%;
    }
}

#frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 57;
}

#frame .content .message-input .wrap {
    position: relative;
}

#frame .fa.fa-wifi {
    display: hidden;
    font-size: 28px;
    text-align: center;
}

#frame .content .message-input .wrap textarea {
    float: left;
    overflow: hidden;
    width: calc(100% - 90px);
    padding: 14px 38px 0px 10px;
    height: 47px;
    border: none;
    border-top: 1px solid #d8d7d7;
    outline: none;
    resize: none;
    line-height: initial;
    margin: 0px auto;
    background: white;
    font-size: 14px;
}

#frame .content .message-input .wrap textarea:focus {
    outline: none;
}

#frame .meta .time_ago {
    color: #0099ff;
}

#frame .content .message-input .wrap .attachment {
    position: absolute;
    right: 100px;
    z-index: 4;
    margin-top: 10px;
    font-size: 2.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
}

#frame .content .message-input .wrap .attachment:hover {
    opacity: 1;
}

#frame .content .message-input .wrap button i.fa-paper-plane {
    font-size: 20px;
}

#frame .content .message-input .wrap button {
    float: right;
    border: none;
    border-top: 1px solid #bfbfbf;
    width: 90px;
    height: 47px;
    padding: 9px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
}

#frame .content .message-input .wrap button:hover {
    background: #435f7a;
    transition: background 500ms;
}

#frame .content .message-input .wrap button:focus {
    outline: none;
}

#frame .message_loader {
    animation: rotate 2s linear infinite;
    display: none;
    z-index: 2;
    position: absolute;
    top: 0%;
    left: 48%;
    width: 20px;
    height: 20px;
    opacity: 1;
}

#frame .path {
    stroke: #007bff;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

#frame .notification-count {
    position: absolute;
    z-index: 1;
    top: -1px;
    right: -7px;
    width: 13px;
    height: 13px;
    line-height: 14px;
    font-size: 9px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #f94a5a;
    color: #fff;
    animation: zoom 3s 3s both infinite;
}

#frame .unread-notifications {
    display: none;
}

#frame .tb {
    color: #0099ff;
    padding: 0px;
    margin: 0px;
}

#frame .unread-notifications[data-badge]:after,
#frame .mobile-unread-notifications[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    text-indent: 0px;
    left: 49px;
    top: 13px;
    font-size: 11px;
    background: #f94a5a;
    color: white;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 17px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    animation: zoom 3s 3s both infinite;
}

#frame .mobile-unread-notifications[data-badge]:after {
    left: 39px;
    top: 1px;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 360px) {
    #frame {
        width: 100%;
        height: 93vh;
    }
}

#frame #sidepanel #bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

#frame #sidepanel #bottom-bar button {
    float: left;
    height: 47px;
    border: none;
    width: 50%;
    background: #e3e8ee;
    color: #000;
    cursor: pointer;
    font-size: 12px;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
}

#frame #sidepanel #bottom-bar button:focus {
    outline: none;
}

#frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: 1px solid #d8d7d7;
}

#frame #sidepanel #bottom-bar button:hover {
    background: #c2c8d0;
    transition: background 500ms;
}

#frame #sidepanel #bottom-bar button i {
    margin-right: 3px;
    font-size: 1.2em;
}

@media screen and (max-width: 735px) {
    #frame {
        height: 85vh;
        height: calc(var(--vh, 1vh) * 85);
    }

    .prchat_controller #wrapper {
        height: 85vh;
        height: calc(var(--vh, 1vh) * 85);
    }

    #frame #sidepanel {
        width: 60px;
        min-width: 60px;
        margin-left: -2px;
    }

    #frame .content {
        width: calc(100% - 58px);
        min-width: 300px !important;
        height: 85vh;
        /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 85);
    }

    #frame .content .messages ul li img.prchat_convertedImage {
        max-width: 25vh;
    }

    #frame #sidepanel {
        width: 60px;
        height: 79.1vh;
        /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 85);
        min-width: 60px;
        margin-left: -2px;
    }

    #frame .content .messages ul li img.prchat_convertedImage {
        max-width: 25vh;
    }

    #frame .content .messages ul li p {
        max-width: 100% !important;
    }

    #frame #sidepanel #profile {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0 0 0;
        background: #e3e8ee;
    }

    #frame #sidepanel #profile .wrap {
        height: 55px;
        padding: 0px;
    }

    #frame #sidepanel #profile .wrap img {
        width: 40px;
        height: 40px;
        margin-top: 0px;
        margin-left: 11px;
    }

    #frame #sidepanel #profile .wrap p {
        display: none;
    }

    #frame #sidepanel #search {
        display: none;
    }

    #frame #sidepanel #contacts {
        height: calc(100% - 106px);
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #frame #sidepanel #contacts::-webkit-scrollbar {
        display: none;
    }

    #frame #sidepanel #contacts ul li.contact a {
        padding: 6px 0 46px 8px;
    }

    #frame #sidepanel #contacts ul li.contact .wrap {
        width: 100%;
    }

    #frame .content {
        width: calc(100% - 58px);
        min-width: 300px !important;
    }

    #frame .content .messages {
        max-height: calc(100% - 105px);
    }

    #frame .content .message-input .wrap textarea {
        padding: 15px 32px 16px 8px;
    }

    #frame .content .message-input .wrap .attachment {
        margin-top: 11px;
        right: 99px;
    }

    #frame .content .message-input .wrap button {
        padding: 15px 0;
    }

    #frame #sidepanel #contacts ul li.contact .wrap img {
        margin-right: 0px;
        margin-left: 3px;
    }

    #frame .content .message-input {
        left: 1px;
    }

    #frame .unread-notifications[data-badge]:after,
    #frame .mobile-unread-notifications[data-badge]:after {
        content: attr(data-badge);
        position: absolute;
        text-indent: 0px;
        left: 41px;
        top: 4px;
        font-size: 11px;
        background: #f94a5a;
        color: white;
        width: 16px;
        height: 16px;
        text-align: center;
        line-height: 17px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        animation: zoom 3s 3s both infinite;
    }

    #frame #sidepanel #bottom-bar button {
        float: none;
        width: 100%;
        padding: 15px 0;
    }

    #frame #sidepanel #bottom-bar button:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid #d8d7d7;
    }

    #frame #sidepanel #bottom-bar button i {
        font-size: 1.3em;
    }

    #frame #sidepanel #bottom-bar button span {
        display: none;
    }

    #frame #sidepanel #contacts ul li.contact .wrap .meta {
        display: none;
    }
}

img.shaking {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@media screen and (max-width: 360px) {
    #frame {
        width: 100%;
        height: 79vh;
        /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 79);
    }
}


#sharedFiles i.fa-times-circle-o {
    color: #444343;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    left: 89%;
    top: 9px;
    z-index: 1;
}

#sharedFiles i.fa-times-circle-o:hover {
    color: #6b6969;
}


#sharedFiles .shared_files_ahref {
    background-size: cover;
    width: 97px;
    height: 60px;
    margin-right: 2px;
    margin-left: 13px;
    margin-top: 5px;
    border: 2px solid #51647c;
}

#sharedFiles .shared_items_span {
    display: block;
    font-weight: 600;
    width: 81%;
    padding: 3px;
    margin: 0 auto;
    margin-bottom: 2px;
    margin-left: 25px;
}

#sharedFiles .nav.nav-tabs {
    width: 374px;
    border-top: none;
    margin-left: -6px;
    margin-bottom: 0px;
}

#sharedFiles .tab-content::-webkit-scrollbar {
    width: 8px;
}

#sharedFiles .tab-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}


#sharedFiles .tab-content {
    width: calc(100% - 30px);
    overflow-y: auto;
    position: relative;
    height: 85vh;
    margin: 0 auto;
}

#sharedFiles .nav-tabs>li.active>a:focus,
.nav-tabs>li>a:hover,
.nav-tabs>li.active>a {
    border-bottom: 3px solid #02a9f4;
}

#sharedFiles .nav-tabs>li>a,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li>a:hover {
    color: #262d33;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#sharedFiles .tab-content>.active {
    overflow: hidden;
    width: 360px;
    margin: 0 auto;
    margin-left: -13px;
    margin-top: 7px;
}

#sharedFiles .icon_shared_files {
    margin-right: 4px;
    color: #3d5063;
}

#sharedFiles {
    z-index: 56 !important;
    height: 82vh;
    width: 360px;
    float: right;
    display: none;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.32), 0 0 9px 0 rgba(0, 0, 0, 0.32) z-index: 3;
    background: #e4e4e4;
    right: 0;
    top: 60px;
    position: absolute;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

/* Chat Full Screen Loader */
.chat-module-loader:before {
    content: "Uploading...";
    position: absolute;
    bottom: 50vh;
    color: #ffffff;
}

.chat-module-loader {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    background: rgb(0, 0, 0, 0.600);
    z-index: 99999999999999999;
    height: 100%;
    top: 50%;
    left: 50%;
    padding-left: 48%;
    transform: translate(-50%, -50%);
}

.chat-module-loader div {
    animation: chat-module-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.chat-module-loader div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 20%;
    background: #fff;
    margin: -3px 0 0 -3px;
}

.chat-module-loader div:nth-child(1) {
    animation-delay: -0.036s;
}

.chat-module-loader div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.chat-module-loader div:nth-child(2) {
    animation-delay: -0.072s;
}

.chat-module-loader div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.chat-module-loader div:nth-child(3) {
    animation-delay: -0.108s;
}

.chat-module-loader div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.chat-module-loader div:nth-child(4) {
    animation-delay: -0.144s;
}

.chat-module-loader div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.chat-module-loader div:nth-child(5) {
    animation-delay: -0.18s;
}

.chat-module-loader div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.chat-module-loader div:nth-child(6) {
    animation-delay: -0.216s;
}

.chat-module-loader div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.chat-module-loader div:nth-child(7) {
    animation-delay: -0.252s;
}

.chat-module-loader div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.chat-module-loader div:nth-child(8) {
    animation-delay: -0.288s;
}

.chat-module-loader div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes chat-module-loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}